<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico"></link>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>INCER</title>
</head>
<body>
    
    <form>
         
        <div class="log">
            
               <h1 class="titlep">Welcome to <span>INCER</span> </h1>
               <a class="regbtn" href="/register" role="button">Register</a>
               <a class="loginbt" href="/login" role="button">Login</a>

               <p class="fp"><%= FAILATTEMPT %></p>

        </div>

    </form>

</body>
</html>