<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOT FOUND</title>
    <link rel="icon" href="/favicon.ico"></link>
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>
<body>

    <form   method="GET"> 
        
        <div class="log">

            
            <p class="logp">PAGE NOT FOUND CLICK BELOW TO GO TO HOMEPAGE</p>


            <a class="notregbtn " href="/" role="button">HOMEPAGE</a>
           
            
         </div>
        
    </form>
     
    </body>
</html>