
<html lang="en">
<head >
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" ></meta>
    <title>Welcome</title>
    <link rel="icon" href="/favicon.ico"></link>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
</head>
<body>

    <form method="GET" >
    <div class="log">
        <p class="sp">  Please Login Proceed to Your site </p>
       <p class ="msg"> Congrats  account has been created successfully </p>

        
        <a class=" loginbt logbt1" href="/login" role="button"> Login </a>

    </div>    
    
    </form>
        
    
</body>
</html>